watch_file flake.nix flake.lock rust-toolchain.toml rust-toolchain-stable.toml Cargo.toml Cargo.lock
watch_dir lib/
watch_dir nix/
watch_dir cli/
watch_dir crates/
nix_direnv_disallow_fallback
use flake . --no-update-lock-file || return 1
use flake .#opencode-lsp --no-update-lock-file || return 1
